@model Admin.ViewModel.SolutionViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout="_Layout";
}
<style>
    .title{
        border-radius: 5px;
        background-color: #BDBDBD;
        height: 50px;
       
    }
    .box{
        padding-top: 0px;
        margin-top: 0px;
        border: 3px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
</style>
 <div class="breadcrumbs d-flex align-items-center" style="background-image: url('@Url.Content("~/source/img/blog/blog-recent-5.jpg")');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Solutions</h2>
        @*<ol>
          <li><a href="index.html">Home</a></li>
          <li>Blog</li>
        </ol>*@

      </div>
    </div><!-- End Breadcrumbs -->

<section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row g-5">

          <div class="col-lg-9" data-aos="fade-up" data-aos-delay="200">

            <div class="row gy-5 posts-list ">

                       @foreach (var solution in Model.solutions)
                    {
                        <div class="col-lg-6 col-md-6 service-item d-flex " data-aos="fade-up" data-aos-delay="100" >
                        @*<div class="icon flex-shrink-0"><i class="bi bi-briefcase" style="color: #f57813;"></i></div>*@
                        <div class="box" style="text-align:justify; margin:0;">
                          
                          <h4 class="title" style="text-align: center;margin:0px;"><a href="ViewSolutionDetail\@solution.id" class="stretched-link">@solution.solution_name</a></h4>
                          <div style="padding: 8px;">
                          <p class="description" >@Html.Raw(solution.description)</p>
                          </div>
                        </div>
                      </div>
                      <!-- End Service Item -->
                    }
              </div>
          </div>

          <div class="col-lg-3" data-aos="fade-up" data-aos-delay="400">

            <div class="sidebar ps-lg-4">

              @*<div class="sidebar-item search-form">
                <h3 class="sidebar-title">Search</h3>
                <form action="" class="mt-3">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->*@

              <div class="sidebar-item categories">
                <h3 class="sidebar-title">Categories</h3>
                <ul class="mt-3">
                  <li data-filter="*" class="filter-active" ><a href="ViewSolution">All</a></li>
                    @foreach (var type in Model.SolutionType)
                    {
                        <li data-filter="*" >
                        @Html.ActionLink(@type.short_cut, "ViewSolution", "Solution", new {type= @type.id}, null)
                        </li>
                    }
                  
                </ul>
              </div><!-- End sidebar categories-->

             @* <div class="sidebar-item recent-posts">
                <h3 class="sidebar-title">Recent Posts</h3>

                <div class="mt-3">

                  <div class="post-item mt-3">
                    <img src="assets/img/blog/blog-recent-1.jpg" alt="" class="flex-shrink-0">
                    <div>
                      <h4><a href="blog-post.html">Nihil blanditiis at in nihil autem</a></h4>
                      <time datetime="2020-01-01">Jan 1, 2020</time>
                    </div>
                  </div><!-- End recent post item-->
                </div>

              </div><!-- End sidebar recent posts-->*@

              
            </div><!-- End Blog Sidebar -->

          </div>

        </div>

      </div>
     </section><!-- End Blog Section -->