@model Admin.ViewModel.HomeViewModel
@{
  ViewData["Title"] = "Home Page";
}

<style>
    /*.title{
        border-radius: 5px;
        background-color: #BDBDBD;
        height: 50px;*/
        
    }
    .box{
        padding-top: 0px;
        margin-top: 0px;
        border: 3px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
</style>
 <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Focus On What Matters</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis cum recusandae eum laboriosam
              voluptatem repudiandae odio, vel exercitationem officiis provident minima. </p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#about" class="btn-get-started">Get Started</a>
             <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
              class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch
                Video</span></a>
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
         @* <div class="col-lg-4">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>*@
            @foreach (var about in Model.about_us.Take(1))
            {
                <div class="col-lg-12" style="margin-bottom: 20px;">
                <div class="content ps-lg-5">
                  <h3>@about.about_heading</h3>
                  <p>
                @Html.Raw(about.about_detail)
              </p>
             
            </div>
          </div>
            }
           
        </div>

      </div>
    </section><!-- End About Section -->


<!-- ======= Our Services Section ======= -->
<section id="services-list" class="services-list">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Our Solutions</h2>

    </div>

    <div class="row gy-5">
            @foreach (var solutions in Model.solutions.Take(6))
            {
                 <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="box" style="text-align:justify; margin:0;">
                          
                          <h4 class="title" style="text-align: center;margin:0px;border-radius: 5px; background-color: #BDBDBD; height: 50px;">
                              <a asp-controller="Solution" asp-action="ViewSolutionDetail" asp-route-id="@solutions.id" class="stretched-link">@solutions.solution_name</a></h4>
                          <div style="padding: 8px;">
                          <p class="description" >@Html.Raw(solutions.description)</p>
                          </div>
                        </div>
                  </div> 
                  <!-- End Service Item -->
            }
           

    </div>

  </div>
</section><!-- End Our Services Section -->

<!-- ======= Call To Action Section ======= -->
<section id="call-to-action" class="call-to-action">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h3>Contact Top Solutions</h3>
        <p>We will discuess and provide all the solutions that you need. Meet out analyser and cover your requirments to solve your business or your organization problems with our latest technology.</p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>
    </div>

  </div>
</section><!-- End Call To Action Section -->

<!-- ======= Our Partner Section ======= -->
<section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Our Partners</h2>

    </div>

    <div class="row g-0" style="height: 350px" data-aos="fade-up" data-aos-delay="200">
      <div class="col-xl-12 slides  position-relative">

        <div class="slides-1 swiper" style="margin-top:5px;">
          <div class="swiper-wrapper">
                        @foreach (var partner in Model.partner)
                        {
                            <div class="swiper-slide" style="text-align:center;">
                              <div class="item">
                                          @{
                                           var base64 = Convert.ToBase64String(partner.partner_logo);
                                           var img = string.Format("data:image/gif;base64,{0}", base64);
                                         }
                                          <img src="@img" style="width: 300px; height: 250px;align: center;" />
                                        <h3 class="mb-3">@partner.partner_name</h3>
                                      
                              </div>
                            </div><!-- End slide item -->
                        }
                        

          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>

  </div>
</section><!-- End our Partner Section -->

<!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Recent Events Posts</h2>

        </div>

        <div class="row gy-5">
            @foreach (var events in Model.blog_event.Take(4))
            {
                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="post-box"><a asp-area=""  asp-controller="Event" asp-action="ViewEventDetail" asp-route-id="@events.id" asp-route-Title="@SlugGenerator.SlugGenerator.GenerateSlug(events.event_heading)">
                  <div class="post-img" >
                      @{
                                    var base64 = Convert.ToBase64String(events.event_image);
                                    var img = string.Format("data:image/gif;base64,{0}", base64);
                                }
                      <img src="@img" class="img-fluid" alt="" style="height: 250px;"></div>
                  <div class="meta">
                    <span class="post-date">@events.event_date.Value.ToString("ddd-MMM-yyyy")</span>
                  </div>
                  <h3 class="post-title">@events.event_heading</h3>
                   <div class="content overflow-hidden"  style="height:92px; ">
                  <p>@Html.Raw(events.event_detail)</p>
                  </div></a>
                  <a asp-area=""  asp-controller="Event" asp-action="ViewEventDetail" asp-route-id="@events.id" asp-route-Title="@SlugGenerator.SlugGenerator.GenerateSlug(events.event_heading)"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                </div>
              </div>
            }
          

         

      

        </div>

      </div>
    </section><!-- End Recent Blog Posts Section -->
